.news-crawler {
  display: flex;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.news-item {
  padding-right: 50px; /* Adjust the spacing between items */
}
